@model HomeModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, @Model.Name</h1>
    <p>My First Site in MVC</p>
    <span>Your email is: @Model.Email</span>
</div>
